language: node_js

dist: jammy

sudo: false

node_js:
- 20
- 22
- lts/

# before_install:
# -  'openssl aes-256-cbc -K $my_key -iv $my_iv -in myservice.env.enc -out myservice.env -d || true'

script:
- npm run build
- npm run test-unit-travis || travis_terminate 1
- npm run lint
- npm run check-packages
# - sh scripts/typedoc/generate_typedoc.sh currently in progress

# To enable semantic-release, uncomment this section.
deploy:
- provider: script
  skip_cleanup: true
  script: npx semantic-release
  on:
    node: lts/
    branch: main
 # ensure semantic-release is functional
- provider: script
  script:
    - npx semantic-release --dry-run
  skip_cleanup: true
  on:
    all_branches: true
    node: lts/
